LOCAL/
History/
__Previews/
*.htm

*Project Outputs for a_Valider_HD/
Project Outputs for a_Valider_LDG/
Project Outputs for a_Valider_PA/
*.LOG
*.WAS
*.IntLib

01 - HIVE_SIGHT/01 - SCHEMAS ET PCB/02 - REV 1.01 (2021-02-11)/05 - 3D MODEL/3D pas sur le git/

*.step

06 - WINGS/02 - STEP/
